:root{
    --amazon-yellow: #d38016
}

main{
    margin: auto;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}

.title{
    display: flex;
    justify-content: center;
}

section{
    margin-top: 50px;
    display: flex;
    justify-content: center;
    gap: 3%;
}

.object{
    width: 350px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
